*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{

background:#080f1f;
color:white;

}


.sidebar{

position:fixed;

width:230px;

height:100vh;

background:#111827;

padding:30px;

}



.sidebar a{

display:block;

color:white;

text-decoration:none;

margin:20px 0;

}



.main{

margin-left:250px;

padding:30px;

}



.stats{

display:flex;

gap:20px;

}



.card,.box{

background:#111827;

padding:25px;

border-radius:20px;

box-shadow:
0 0 20px #2563eb55;

}



input,select{

padding:12px;

margin:5px;

border-radius:10px;

border:0;

}



button{

padding:10px 20px;

border:0;

border-radius:10px;

background:#2563eb;

color:white;

cursor:pointer;

}



table{

margin-top:30px;

width:100%;

background:#111827;

border-radius:15px;

padding:10px;

}
